---
layout: default
---

<style>
p.ex1 {
    margin-bottom: 2cm;
}
</style>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
     <p class="ex1">{{ post.excerpt }}</p>
  </div>
{% endfor %}

  <p class="ex1"> </p>
  <p> </p>
  <p> </p>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path| prepend: site.baseurl  }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
